.body {
    margin-left: 200px;
    margin-right: 200px;
}

.body h1{
    padding-top: 60px;
    text-align: center;
}
.body h2{
    padding-bottom: 10px;
}

.body h6{
    padding-top: 100px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 40px;
}

.body img {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;

}
/* .fitting-image {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
} */

.body figcaption {
    margin-left: 155px;
    padding-bottom: 60px;
}

.body p {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px
}