.recipeContainer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

.titleContainer {
    padding-top: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.descriptionContainer {
    padding-top: 3rem;
    text-align: center;
}


.imageContainer {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
    gap: 1.5rem;
}

.methodContainer {
    width: 100%;
    text-align: left;
    gap: 2rem;
}

.ingredientsContainer {
    width: 100%;
    text-align: left;
    gap: 5rem;
  }








/* .body {
    margin-left: 200px;
    margin-right: 200px;
}

.body h1{
    padding-top: 60px;
    text-align: center;
}
.body h2{
    padding-bottom: 10px;
}

.body h6{
    padding-top: 100px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 40px;
}

.body img {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;

}
.fitting-image {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}
.container {
    display: flex;
    justify-content: right;
}
.ingredients {
    text-align: left;
}

.body figcaption {
    margin-left: 155px;
    padding-bottom: 60px;
}

.body p {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px
} */