.body {
    padding-top: 60px;

    margin-left: 100px;
    margin-right: 100px;
}

.body h1{
    text-align: center;
}

.image {
    vertical-align: middle;
}

.body p {
    margin-left: auto;
    margin-right: auto;
    
}