html, body {
    background-color: rgb(237, 241, 255);
    cursor: url(strawberry-hello-kitty/Strawberry\ Hello\ Kitty.cur), auto;

  }
  .cursor-help {
    cursor: url(strawberry-hello-kitty/Strawberry\ Hello\ Kitty\ HS.cur), auto;
    text-decoration: none;
  }
  
  .text-container {
    display: inline-block;
    width: auto;
    cursor: url(strawberry-hello-kitty/Strawberry\ Hello\ Kitty\ TS.cur), auto;
  }
  
h1 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
  }
